<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@document, remote: remote, html: {role: :form, 'data-model' => 'document'}) do |g| %>

  <%#= render 'shared/error_messages', object: g.object %>

  <% if @document && @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% @document.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="form-group">
    <%#= g.label :url, class: 'control-label' %><br>
    <%= g.text_field :url, class: 'form-control' %>
    <%#= g.text_area :url, placeholder: "Add new document..." %>
    <span class="help-block"></span>
  </div>

  <%# Added Bootstrap classes %>
  <div class="actions">
    <%= g.submit 'Add', class: 'btn btn-default' %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>

<% end %>
